In [3]:
class Employee:
    def __init__(self, name, l_name, salary, exp):
        self.name = name
        self.last_name = l_name
        self.base_salary = salary
        self.experience = exp


class Developer(Employee):
    def __init__(self, name, l_name, salary, exp):
       super().__init__(name, l_name, salary, exp)
       

class Designer(Employee):
    def __init__(self, name, l_name, salary, exp, er):
       super().__init__(name, l_name, salary, exp)
       self.er = er

class Manager(Employee):
    def __init__(self, name, l_name, salary, exp, team):
       super().__init__(name, l_name, salary, exp)
       self.team = team   


class Department:
    def __init__(self, managers):
         self.managers = managers
    
    def giveSalary(self):
        print('\n'.join(self.countedSalary()))

    def countedSalary(self):
        ans = []
        for m in self.managers:
            salary = m.base_salary
            if m.experience > 5:   salary = salary*1.2 + 500
            elif m.experience > 2: salary += 200

            if len(m.team)>10: salary += 300
            elif len(m.team)>5: salary += 200
            
            if sum(isinstance(x, Developer) for x in m.team)>len(m.team)/2: salary *= 1.1
            ans.append(f'\n{m.name} {m.last_name} отримав(-ла) {salary} шекєлей')

            for e in m.team:
                salary = e.base_salary

                if e.experience > 5:
                    salary = salary*1.2 + 500
                elif e.experience > 2:
                    salary += 200
                
                if isinstance(e, Designer):
                    salary *= e.er

                ans.append(f'   {e.name} {e.last_name} отримав(-ла) {salary} шекєлей')

        return ans

In [4]:
department = Department(
    [
        Manager('Ольга', 'Максименко', 5500, 7,
                [
                    Designer('Владислава',  'Шоколадка', 2100, 1,   0.2),
                    Designer('Наталья',  'Владимировна',      5400, 1.2, 0.3),
                    Designer('Анатолий',   'Жук',     1200, 1.5, 0.7),
                    Designer('Кирилл',    'Сергеевич',   5000, 2.5, 0.2),
                    Developer('Ігор', 'Прогер',   5500, 7)
                ]),
        Manager('Илья', 'Сокол', 5400, 8,
                [
                    Designer('Дмитро', 'Лисий',    5600,   1.1,   0.7),
                    Designer('Владимир',   'Лемешко', 2300,   2.5, 1.3),
                    Developer('Диана',    'Гора',  3800,   2.7),
                    Developer('Михайло',  'Бондаренко',    3900,   7),
                    Developer('Анастасия',  'Потапенко',    1900, 0.3),
                ]),
        Manager('Денис', 'Ермоленко', 5600, 5,
                [
                    Designer('Ольга',     'Барановна',    6400, 2,   3.5),
                    Designer('Віка',    'Щедровна', 2300, 1.6, 1),
                    Designer('Олег',    'Петрович',    4500, 2.5,   1.9),
                    Designer('Марина',    'Кравчук',    7400, 6,   0.4),
                    Designer('Вася',    'Василько',  1200, 1.5, 0.3),
                    Designer('Руслан',    'Ющенко',    5000, 1.5, 0.3),
                    Developer('Назар',    'Карп',    7800, 5),
                    Developer('Володимир',    'Грінченко',     1200, 1.5),
                    Developer('Світлана',      'Борисова',   1000, 0.4),
                    Developer('Олексій',    'Петров',   2300, 1.2),
                    Developer('Сандра',  'Ненси',    1700, 0.5)
                ])
        
    ])